{
    font-family: "Arial";
}

body{
    margin:auto;
    padding:auto;
}

header
{
    color: #4c74a1;
    margin-left: 20px;
    height: 20%;
}

p, h1
{
    color: #4c74a1;
}

nav
{
    background-color: #4c74a1;
    bottom: 200;
    margin-left: auto;
}

nav ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

nav ul li
{
    display: table-cell;
}

nav ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
    color: white;
}


ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

ul li
{
    display: table-cell;
}

ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

/*Navigation*/
.navigation a
{
	color: white;
	text-decoration: none;
}

/*Gestion Capteurs*/
/*ALL*/
.gestion_capt{
    display : flex;
    justify-content: space-around;
    margin-bottom: auto;
}

.showpiece,
.showgeneral,
.showcapt
{
    border-top: solid white 10px;

}

.showpiece p,
.showgeneral p,
.showcapt p
{
    text-align: center;
    font-size: 1.5em;
    color: lightsteelblue;
}

.showpiece,
.showcapt
{
    background-color: #406694;
    width : 20%;
}

/*SHOWPIECE*/
#listepiece{
    display: none;
}
#listepiece li{
    display: list-item;
    position: relative;
    text-decoration: none;
    margin-bottom: 25%;
    color: White;
    z-index:1;
}
#listepiece .actif{
    z-index: 10;
    font-weight: bold;
}

/*AJOUTPIECE*/
.ajout_piece p {
    text-align: center;
    font-size: 1em;
    color: lightsteelblue;
}


/*SHOWCAPT*/

.listecapt ul {
    margin-top: 20%;
    display: table;
    width: auto;
    padding: auto;
    list-style:none;
}

.listecapt li{
    display: list-item;
    text-decoration: none;
    margin-bottom: 25%;
    color: White;
}


/*AJOUTCAPT*/
.ajout_capt p {
    text-align: center;
    font-size: 1em;
    color: lightsteelblue;
}


/*SHOWGENERAL*/
.showgeneral
{
    background-color: #7192bb;
    width : 60%;
    margin-bottom:auto;
}

.showgeneral h3
{
    margin-left: 5%;
}

#showdatas ul
{
    clear: both;
    position: relative;
    z-index: 5;
    flex-wrap:wrap;
}

