{
    font-family: "Arial";
}

body{
    margin:auto;
    padding:auto;
}

header
{
    color: #4c74a1;
    margin-left: 20px;
    height: 20%;
}

p, h1
{
    color: #4c74a1;
}

nav
{
    background-color: #4c74a1;
    margin-left: auto;
}

nav ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

nav ul li
{
    display: table-cell;
}

nav ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
    color: white;
}


ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

ul li
{
    display: table-cell;
}

ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

/*Navigation*/
.navigation a
{
    color: white;
    text-decoration: none;
}

h2
{
    text-align: center;
    color: #4c74a1;
    font-size: 2em;
}

h3{
    text-align: center;
    font-size:  30px;

}

button
{
    background-color: white;
    color:  royalblue;
    text-decoration: underline;
    text-underline: royalblue;
    font-size:  17px;
    border: none;
    display: block;
    margin-left: 36.8%;
    text-align: left;
}

#Reponse, #Reponse_2, #Reponse_3, #Reponse_4, #Reponse_5
{
    font-family: Calibri;
    margin-left: 37.1%;
    margin-right: 25%;
}

p{
    text-align:center;
    margin-top:11%;
}

