<<<<<<< HEAD
*
{
<<<<<<< HEAD:Vue/style.css

=======
>>>>>>> Infocapt:Vue/styleGestionMaison.css
    font-family: "Arial";
}

body{
    margin:auto;
    padding:auto;
}

header
{
<<<<<<< HEAD
    color: #4c74a1;
    margin-left: 20px;
    height: 20%;
=======
	background-color: #4c74a1;
	bottom: 200px;
	margin-left: auto;
>>>>>>> master
}

p, h1
{
    color: #4c74a1;
}

h2
{
    text-align: center;
    color: #4c74a1;
    font-size: 2em;
}
nav
{
    background-color: #4c74a1;
    bottom: 200;
    margin-left: auto;
}
p, h1
{
    color: #4c74a1;
}
h2
{
    text-align: center;
    color: #4c74a1;
    font-size: 2em;
}

#form_inscription
{
    line-height:40px;
    margin-left: 70px;
}

label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}

aside
{
    margin-block-end:  auto;
}

nav
{
    background-color: #4c74a1;
    bottom: 200;
    margin-left: auto;
}

nav ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

nav ul li
{
    display: table-cell;
}

nav ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}

ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

ul li
{
    display: table-cell;
}

ul li a
{
    display: block;
<<<<<<< HEAD:Vue/style.css
    text-align: center; 
    line-height:40px;
    margin-left: 70px;
}
label
=======
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

/*Annonce*/
.rectangle_annonce
{
    display: flex;
    border: 2px solide;
    border-color: whitesmoke;
    width : 100%;
    height : 100px;
    text-align: center;
    background-color: #256da0;
}

.rectangle_annonce p
{
    text-align: center;
    color: white;
    font-size: 3em;
    margin:auto;
}

/*Gestion Capteurs*/
/*ALL*/
.gestion_capt{
    display : flex;
    justify-content: space-around;
    margin-bottom: auto;
}

.showpiece,
.showgeneral,
.showcapt
{
    border-top: solid white 10px;

}

.showpiece p,
.showgeneral p,
.showcapt p
{
    text-align: center;
    font-size: 1.5em;
    color: lightsteelblue;
}

.showpiece,
.showcapt
{
    background-color: #406694;
    width : 20%;
}

/*SHOWPIECE*/

.listepiece li{
    display: list-item;
    text-decoration: none;
    margin-bottom: 25%;
    color: White;
}

/*AJOUTPIECE*/
.ajout_piece p {
    text-align: center;
    font-size: 1em;
    color: lightsteelblue;
}


/*SHOWCAPT*/

.listecapt ul {
    margin-top: 20%;
    display: table;
    width: auto;
    padding: auto;
    list-style:none;
}

.listecapt li{
    display: list-item;
    text-decoration: none;
    margin-bottom: 25%;
    color: White;
}


/*AJOUTCAPT*/
.ajout_capt p {
    text-align: center;
    font-size: 1em;
    color: lightsteelblue;
}


/*SHOWGENERAL*/
.showgeneral
{
    background-color: #7192bb;
    width : 60%;
    margin-bottom:auto;
}

.showgeneral h3
{
    margin-left: 5%;
}

#showdatas ul
{
    flex-wrap:wrap;
}

.code_page p
{
    margin: 10%;
    color:black;
}

.code_page h3
{
    margin: 10%;
    color: black;
}

.titre_page{
    width: 100%;
    height: 100px;
    line-height: 70px;
}
=======
*
{
	font-family: "Arial";
}

/*Navigation*/
#navigation a
{
    color: white;
    text-decoration: none;
}
.navigation a
{
	color: white;
	text-decoration: none;
}

.button
>>>>>>> Infocapt:Vue/styleGestionMaison.css
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}
nav ul
{
    display: table;
    width: auto;
    margin: 0px;
    padding: auto;
}
nav ul li
{
    display: table-cell;
}
nav a
{
    color: white;
    text-decoration: none;
}
<<<<<<< HEAD:Vue/style.css
nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}
=======
>>>>>>> Infocapt:Vue/styleGestionMaison.css

.button
{
	text-align: center;
}
.flotteG
{
	float: left;
}
.flotteD
{
	float: right;
    text-align: center;
}
.flotteG
{
    float: left;
}
.flotteD
{
    float: right;
}

.section_inscription
{
	display: flex;
    display: flex;
    justify-content: space-around;
}
#boutton_submit
{

    background-color: #4c74a1;
    width: 8em;
    height: 2em;
    font-size: 2em;
    color: white;
}

	border-bottom: 1px #4c74a1 groove;
	color: #4c74a1;
	display: flex;
	flex-direction: column;
	width: 10em;
  	padding: 1.2em;
  	font-weight: bold;
}
<<<<<<< HEAD
>>>>>>> master
=======
.modif_admin{
	background-color: #7192bb;
	width : 50%;
	height : 100%;
	margin: 0;
	transition: width 1000ms , visibility 500ms;
}

.consult_admin{
	background-color: #406694;
	width : 50%;
	height : 100%;
	margin: 0;
	transition: width 1000ms , visibility 1000ms;
}

.consult_admin p{
	visibility : visible;
}

.rectangle_flex_acc {
	display: flex;
	justify-content: space-around;
	height: 500px;
	width : 100%;
	margin:0;
	transition: width 1000ms , visibility 1000ms;
}

.rectangle_flex_consult{
	display: none;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	height:100%;
	width:100%;
	transition: width 500ms, visibility 500ms;

}
.rectangle_flex_modif{
	display: none;
	justify-content: space-around;
	height: 100%;
	margin:0;
	padding:0;
	width : 100%;
	transition: width 500ms , visibility 500ms;

}
.rectangle_flex_encadre{
	display: flex;
	justify-content: space-around;
	height: 500px;
	margin:0;
	padding: 0;
	width:100%;
}

.list_page{
	background-color: #406694;
	display: flex;
	height: 100%;
	width: 15%;
}
.page_code{
	display: flex;
	height:100%;
	width: 85%;
}

#html_code {
	display: flex;
	margin: auto;
	height:80%;
	width:80%;
	background-color: #dee7ff;
	color: white;
	font-size: 20px;

}
.store_text {
	display: flex;
	height:100%;
	width:100%;
}
.store_text input{
	height:10%;
	width: 20%;
}
>>>>>>> master
